{{ define "header" }}
    <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
        <div class="container-fluid position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>{{ .Title }}</h1>
                        <span class="subheading">{{ .Description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    <div class="container-fluid px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
              {{ .Content }}
            </div>
        </div>
    </div>
{{ end }}

{{ define "bottom" }}
    <!-- javascript for this page -->
    <script type="text/javascript">
        $(document).ready(function() {
            // fluid width for embedded videos
            $("iframe[src*='www.youtube.com']")
                .addClass("embed-responsive-item")
                .removeAttr("height")
                .removeAttr("width")
                .wrap("<div class='col-lg-8 col-md-10 mx-auto embed-responsive embed-responsive-16by9'/>");

            // PhotoSwipe
            initPhotoSwipeFromDOM('.post-photos');
        });
    </script>
{{ end }}
