{{ define "extrahead" }}
    {{- if .HasShortcode "map" }}
        <!-- Custom CSS for map -->
        <link href="/css/map.css" rel="stylesheet">
    {{- end }}
{{ end }}

{{ define "header" }}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}<header class="masthead" style="background-image: url('{{ .Params.image }}')">
      {{ else }}<header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    {{ end }}
      <div class="container-fluid">
        <div class="row">
           <div class="col-lg-8 col-md-10 mx-auto">
             <div class="post-heading">
               <h1>{{ .Title }}</h1>
               <h2 class="subheading">{{ .Description }}</h2>
               <span class="meta">
                 {{ partial "meta.html" .}}
               </span>
             </div>
           </div>
        </div>
      </div>
    </header>
{{ end }}

{{ define "main" }}
    <!-- Post Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              {{ .Content }}
            </div>
        </div>
    </div>

    {{ with .Resources.ByType "image" }}
        <!-- Gallery of attached images -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <hr>
                    <h2>Gallery</h2>
                    <div id="gallery" class="justified-gallery post-photos">
                        {{ range $index, $image := . }}
                            {{ $thumb := $image.Fit "240x240 q60" }}
                            <a class="gallery-image" href="{{ $image.RelPermalink }}" data-size="{{ $image.Width }}x{{ $image.Height}}" data-index="{{ $index }}" data-title="{{ $image.Title }}">
                                <img src="{{ $thumb.RelPermalink }}" alt="{{ $image.Title }}">
                            </a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    {{ end }}

    <!-- Comments -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <hr>
                <h2>Comments</h2>
                {{ partial "comments.html" . }}
            </div>
        </div>
    </div>
{{ end }}

{{ define "bottom" }}
    {{- if .HasShortcode "map" }}
        <!-- custom map script -->
        <script src="/js/map-shortcode.js" type="text/javascript"></script>
    {{- end }}

    <!-- javascript for this page -->
    <script type="text/javascript">
        $(document).ready(function() {
            {{- if .HasShortcode "map" }}
                {{- range $mapid, $target := .Scratch.Get "maptargets" }}
                    var mymap = new PostMap(document.getElementById("{{ $target }}"));
                    mymap.add_fullscreen_control();
                    mymap.add_route();

                    
                {{- end }}
            {{- end }}

            // fluid width for embedded videos
            $("iframe[src*='www.youtube.com']")
                .addClass("embed-responsive-item")
                .removeAttr("height")
                .removeAttr("width")
                .wrap("<div class='col-lg-8 col-md-10 mx-auto embed-responsive embed-responsive-16by9'/>");

            // justified gallery
            $('#gallery').justifiedGallery({
                rowHeight : 120,
                lastRow : 'nojustify',
                margins : 3
            });

            // PhotoSwipe
            initPhotoSwipeFromDOM('.post-photos');

            {{ if (or (isset .Params "gpx") (and (isset .Params "latitude") (isset .Params "longitude"))) }}
                // add photos with gps info to the map
                var photos = [
                    {{- with .Resources.ByType "image" }}
                        {{- range $index, $image := . }}
                            {{- with $image.Exif }}
                                {{- $thumb := $image.Fill "64x64 q50 smart" }}
                                {
                                    "lat": {{ .Lat }},
                                    "lng": {{ .Long }},
                                    "thumbnail": "{{ $thumb.RelPermalink }}",
                                    "url": "{{ $image.RelPermalink }}",
                                    "description": "{{ $image.Title }}",
                                    "pid": {{ (add $index 1) }},
                                },
                            {{- end }}
                        {{- end }}
                    {{- end }}
                ];
                //add_photo_layer(photos);
            {{ end }}
        });
    </script>
{{ end }}
