{% extends "layout.html" %}

{% from "macros/pagination.html" import render_pagination_bootstrap %}

{% block title %}{{ this.title }}{% if this.tagline %} - {{ this.tagline }}{% endif %}{% endblock %}

{% block head %}
    {{ super() }}

    <!-- Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

    <!-- Leaflet Marker Cluster -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js" type="text/javascript"></script>

    <!-- Custom map CSS -->
    <link href="{{ '/static/css/map.min.css'|asseturl }}" rel="stylesheet">
{% endblock head %}

{% block heading %}
    <div class="site-heading">
        <h1>{{ this.title }}</h1>
        <hr class="small">
        <span class="subheading">{{ this.tagline }}</span>
    </div>
{% endblock heading %}

{% block content %}
    {% if this.renderMap %}
        <!-- Map of posts -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <section id="post-route" class="gpx" data-map-target="post-map">
                        <header>
                            <h3>Map of posts</h3>
                            <span class="start">View as a list below</span>
                        </header>

                        <article>
                            <div class="map" id="post-map"></div>
                        </article>
                    </section>
                    <hr>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- List of posts -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in this.pagination.items %}
                    <div class="post-preview">
                        <a href="{{ post|url }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.description }}
                            </h3>
                        </a>
                        <p class="post-meta">{{ post.date|dateformat('d MMMM y') }} &mdash; {{ post.author }}</p>
                    </div>
                    <hr>
                {% endfor %}

                <!-- pagination buttons -->
                {% if this.pagination.pages > 1 %}
                    {{ render_pagination_bootstrap(this.pagination) }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block bottom %}
    {{ super () }}

    {% if this.renderMap %}
        <!-- Create the map -->
        <script src="{{ '/static/js/map.min.js'|asseturl }}" type="text/javascript"></script>
        <script type="text/javascript">
            init_map(document.getElementById("post-route"));
            init_cluster();
            {% set blog = site.get('/blog') %}
            {% for post in this.children.filter(F._model == 'blog-post') %}
                add_marker_to_cluster("{{ post.title }}", "{{ post|url }}", "{{ post.date|dateformat('d MMMM y') }}", {{ post.latitude }}, {{ post.longitude }}, "{{ post.description }}");
            {% endfor %}
            set_view({{ this.latitude }}, {{ this.longitude }}, {{ this.zoom }});
            add_cluster_to_map();
        </script>
    {% endif %}
{% endblock bottom %}
