{% extends "layout-media.html" %}

{% block head %}
    {{ super() }}

    <!-- justified gallery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css" integrity="sha256-ZKOGvp7YVwX26g2d0ooDvbSBQSEiIi4Bd9FuK+12Zk0=" crossorigin="anonymous" />

    <!-- Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

    <!-- Leaflet Marker Cluster -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css"/>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js" type="text/javascript"></script>

    <!-- Leaflet Photo -->
    <link href="{{ '/static/Leaflet.Photo/Leaflet.Photo.min.css'|asseturl }}" rel="stylesheet">
    <script src="{{ '/static/Leaflet.Photo/Leaflet.Photo.min.js'|asseturl }}" type="text/javascript"></script>

    <!-- Leaflet Fullscreen -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <!-- Leaflet Elevation -->
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ '/static/Leaflet.Elevation/dist/leaflet.elevation-0.0.4.css'|asseturl }}" />
    <script type="text/javascript" src="{{ '/static/Leaflet.Elevation/dist/leaflet.elevation-0.0.4.min.js'|asseturl }}"></script

    <!-- Leaflet GPX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.3.1/gpx.min.js" type="text/javascript"></script>

    <!-- Custom CSS for map -->
    <link href="{{ '/static/css/map.css'|asseturl }}" rel="stylesheet">
{% endblock head %}

{% block background %}{% if this.image.startswith('https') %}{{ this.image }}{% else %}{{ this.image|url }}{% endif %}{% endblock %}

{% block heading %}
    <div class="post-heading">
        <h1>{{ this.title }}</h1>
        <h2 class="subheading">{% if this.description %}{{ this.description }}{% endif %}</h2>
        <span class="meta">{% if this.date %}{{ this.date|dateformat('d MMMM y') }}{% endif %}</span>
    </div>
{% endblock heading %}

{% block content %}
    {{ super() }}

    {%- if this.gpx or (this.latitude and this.longitude) %}
        <!-- Map of the route -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <hr>
                    <section id="post-route" class="gpx" {% if this.gpx %}data-gpx-source="{{ this.gpx|url }}" {% endif %}data-map-target="post-map">
                        <header>
                            <h3>Loading...</h3>
                            <span class="start"></span>
                        </header>

                        <article>
                            <div class="map" id="post-map"></div>
                        </article>

                        {% if this.gpx %}
                            <footer>
                                <ul class="info">
                                    <li>Distance:&nbsp;<span class="distance"></span>&nbsp;km</li>
                                    &mdash; <li>Duration:&nbsp;<span class="duration"></span></li>
                                    &mdash; <li>Pace:&nbsp;<span class="pace"></span>/km</li>
                                    &mdash; <li>Ascent:&nbsp;<span class="ascent"></span>&nbsp;m</li>
                                </ul>
                            </footer>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    {% endif %}

    {%- if this.attachments.images.count() > 3 %}
        <!-- Gallery of attached images -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <hr>
                    <h2>Gallery</h2>
                    <div id="gallery" class="justified-gallery post-photos">
                        {%- for image in this.attachments.images|sort(attribute='order') %}
                            <a class="gallery-image" href="{{ image|url }}" data-size="{{ image.width }}x{{ image.height}}" data-index="{{ loop.index0 }}" data-title="{{ image.description }}">
                                <img src="{{ image.thumbnail(240, 240, quality=60)|url }}" alt="{{ image.description }}">
                            </a>
                        {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
    {%- endif %}

    <!-- Disqus comments -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <hr>
                <h2>Comments</h2>
                <div class="comments">{{ render_disqus_comments() }}</div>
            </div>
        </div>
    </div>

    <!-- previous/next buttons -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <hr>
                {%- set siblings = this.get_siblings() %}
                {%- if siblings.next_page %}
                    <a class="page-link float-left" href="{{ siblings.next_page|url }}" title="{{ siblings.next_page.title }}">Previous</a>
                {%- else %}
                    <span class="page-item disabled"><span class="page-link float-left">Previous</span></span>
                {%- endif %}
                {%- if siblings.prev_page %}
                    <a class="page-link float-right" href="{{ siblings.prev_page|url }}" title="{{ siblings.prev_page.title }}">Next</a>
                {%- else %}
                    <span class="page-item disabled"><span class="page-link float-right">Next</span></span>
                {%- endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block bottom %}
    {{ super() }}

    {%- if this.gpx or (this.latitude and this.longitude) %}
        <!-- custom map script -->
        <script src="{{ '/static/js/map.js'|asseturl }}" type="text/javascript"></script>
    {%- endif %}

    <!-- justified gallery javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js" integrity="sha256-bIPvSCQ7+G5GbIXDt2B+9AMpCmFtxTVLU+aWAIPzL8I=" crossorigin="anonymous"></script>

    <!-- javascript for this page -->
    <script type="text/javascript">
        $(document).ready(function() {
            {%- if this.gpx or (this.latitude and this.longitude) %}
                // initialise the map
                init_map(document.getElementById("post-route"));
                add_fullscreen_control();

                {%- if this.gpx %}
                    // add the GPX route
                    add_gpx(document.getElementById("post-route"), "{{ this.title }}");
                {%- else %}
                    // add the start point and view that
                    add_marker("{{ this.title }}", "{{ this|url }}", "{{ this.date|dateformat('d MMMM y') }}", {{ this.latitude }}, {{ this.longitude }}, "{{ this.description }}");
                    set_view({{ this.latitude }}, {{ this.longitude }}, {{ this.zoom }});
                    set_title(document.getElementById("post-route"), "{{ this.title }}");
                {%- endif %}
                
                // add photos with gps info to the map
                var photos = [
                    {%- for image in this.attachments.images %}
                        {%- if image.exif.location %}
                            {
                                "lat": {{ image.exif.latitude }},
                                "lng": {{ image.exif.longitude }},
                                "thumbnail": "{{ image.thumbnail(64,64)|url }}",
                                "url": "{{ image|url }}",
                                "description": "{{ image.description }}",
                            },
                        {%- endif %}
                    {%- endfor %}
                ];
                add_photo_layer(photos);
            {%- endif %}

            // fluid width for embedded videos (https://stackoverflow.com/a/33708979)
            $("iframe[src*='www.youtube.com']")
                .addClass("embed-responsive-item")
                .removeAttr('height')
                .removeAttr('width')
                .wrap("<div class='col-lg-8 col-md-10 mx-auto embed-responsive embed-responsive-16by9'/>");

            // justified gallery
            $('#gallery').justifiedGallery({
                rowHeight : 120,
                lastRow : 'nojustify',
                margins : 3
            });

            // PhotoSwipe
            initPhotoSwipeFromDOM('.post-photos');
        });
    </script>
{% endblock bottom %}
