{% extends "layout.html" %}
{% block title %}{{ this.title }}{% if this.tagline %} - {{ this.tagline }}{% endif %}{% endblock %}
{% block heading %}
    <div class="site-heading">
        <h1>{{ this.title }}</h1>
        <hr class="small">
        <span class="subheading">{{ this.tagline }}</span>
    </div>
{% endblock heading %}
{% block body %}
    {{ this.body }}
{% endblock body %}
{% block content %}
    {{ super() }}
    <div class="container">
        <div id="map" style="height: 700px;"></div>
    </div>
{% endblock content %}
