{% extends "layout.html" %}

{% block title %}{{ this.title }}{% if this.tagline %} - {{ this.tagline }}{% endif %}{% endblock %}

{% block head %}
    {{ super() }}

    <!-- Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

    <!-- Custom map CSS -->
    <link href="{{ '/static/css/map.min.css'|asseturl }}" rel="stylesheet">
{% endblock head %}

{% block heading %}
    <div class="site-heading">
        <h1>{{ this.title }}</h1>
        <hr class="small">
        <span class="subheading">{{ this.tagline }}</span>
    </div>
{% endblock heading %}

{% block body %}
    {{ this.body }}
{% endblock body %}

{% if this.renderMap %}
    {% block content %}
        <!-- Map showing posts -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <hr>
                    <section id="post-route" class="gpx" data-map-target="post-map">
                        <header>
                            <h3>Map of posts</h3>
                            <span class="start"><a href="{{ '/blog'|url }}">View as a list here too</a></span>
                        </header>

                        <article>
                            <div class="map" id="post-map"></div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    {% endblock content %}

    {% block bottom %}
        {{ super () }}

        <!-- Create the map -->
        <script src="{{ '/static/js/map.min.js'|asseturl }}" type="text/javascript"></script>
        <script type="text/javascript">
            init_map(document.getElementById("post-route"));
            {% set blog = site.get('/blog') %}
            {% for post in blog.children %}
                add_marker("{{ post.title }}", "{{ post|url }}", "{{ post.date|dateformat('d MMMM y') }}", {{ post.latitude }}, {{ post.longitude }}, "{{ post.description }}");
            {% endfor %}
            set_view({{ this.latitude }}, {{ this.longitude }}, {{ this.zoom }});
        </script>
    {% endblock bottom %}
{% endif %}
